<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <h1>Hasil Klasifikasi</h1>
    <!-- <p>Lead Time : {{ input['sl'] }} </p>
    <p>Sepal Width : {{ input['sw'] }} </p>
    <p>Petal Length : {{ input['pl'] }}</p>
    <p>Petal Width : {{ input['pw'] }} </p> -->
    <p>Hasil Klasifikasi : </p>
    {%if predict == 1%}
    {{'Cancel'}}
    {%else%}
    {{'No Cancel'}}
    {%endif%}
</body>

</html>